<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/template :: head(title = 'Blog')}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Main Sidebar Container -->
    <th:block th:replace="~{user/template :: sidebar(${profile})}"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content mt-3">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">

                    <div class="col-md-6">
                        <div th:if="${message != null}" class="alert alert-danger" role="alert">
                            <i class="bi bi-exclamation-triangle"></i> <span th:text="${message.content}">Error during user edition!</span>
                        </div>
                        <div class="card card-widget widget-user-2">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-info">
                                <div class="widget-user-image">
                                    <img class="img-circle elevation-2" th:src="${profile.avatarUrl}" alt="User Avatar">
                                </div>
                                <!-- /.widget-user-image -->
                                <h3 th:text="${profile.fullName}" class="widget-user-username">Nadia Carmichael</h3>

                                <h5 th:text="${profile.role}" class="widget-user-desc"></h5>

                            </div>
                            <form method="post" th:object="${changePasswordDto}" action="/user/profile/password/update">
                            <div class="card-body p-0">
                                <table class="table table-sm mb-0">
                                    <tbody>
                                    <tr>
                                        <td class="col-3 col-lg-2">old password</td>
                                        <td>
                                            <input th:field="*{oldPassword}" type="password" id="oldPassword"
                                                   class="form-control form-control-sm">
                                            <small><span class="text text-danger" th:if="${#fields.hasErrors('oldPassword')}"
                                                         th:errors="*{oldPassword}"></span></small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>new password</td>
                                        <td>
                                            <input th:field="*{newPassword}" type="password" id="newPassword"
                                                   class="form-control form-control-sm">
                                            <small><span class="text text-danger" th:if="${#fields.hasErrors('newPassword')}"
                                                         th:errors="*{newPassword}"></span></small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>confirm password</td>
                                        <td>
                                            <input th:field="*{confirmPassword}" type="password" id="confirmPassword"
                                                   class="form-control form-control-sm">
                                            <small><span class="text text-danger" th:if="${#fields.hasErrors('confirmPassword')}"
                                                         th:errors="*{confirmPassword}"></span></small>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="flex-container">
                                    <a th:href="@{/user/profile}"
                                       class="btn btn-sm btn-info mr-2">
                                        Back
                                    </a>
                                    <button type="submit" class="btn btn-sm btn-info mr-2">Update</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="~{user/template :: footer}"></th:block>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:insert="~{user/fragments :: common-scripts}"></div>


<script>
    $(document).on('click', '.deleteButton', function () {
        let notificationId = $(this).data('notification-id');

        $.ajax({
            url: "/api/v1/notifications/" + notificationId,
            type: 'DELETE',
            success: function (response) {
                console.log('Notification deleted successfully');
                $(`.notification[data-notification-id="${notificationId}"]`).remove();
                $('#timeline').load(location.href + ' #timeline');
            },
            error: function (xhr, status, error) {
                console.error('Error during deleting notification:', error);
            }
        });
    });
</script>

</body>
</html>
