<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/template :: head(title = 'Blog')}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Main Sidebar Container -->
    <th:block th:replace="~{user/template :: sidebar(${profile})}"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content mt-3">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">

                    <div class="col-md-6">
                        <div th:if="${message != null}" class="alert alert-success" role="alert">
                            <i class="bi bi-exclamation-triangle"></i> <span th:text="${message.content}">User edited successfully!</span>
                        </div>
                        <div class="card card-widget widget-user-2">
                            <div class="widget-user-header bg-info">
                                <div class="widget-user-image">
                                    <img class="img-circle elevation-2" th:src="${user.avatarUrl}" alt="User Avatar">
                                </div>
                                <!-- /.widget-user-image -->
                                <h3 th:text="${user.fullName}" class="widget-user-username">Nadia Carmichael</h3>

                                <h5 th:text="${user.role}" class="widget-user-desc"></h5>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-sm mb-0">
                                    <tbody>
                                    <tr>
                                        <td>first name</td>
                                        <td th:text="${user.firstName}"></td>
                                    </tr>
                                    <tr>
                                        <td>last name</td>
                                        <td th:text="${user.lastName}"></td>
                                    </tr>
                                    <tr>
                                        <td>username</td>
                                        <td th:text="${user.username}"></td>
                                    </tr>
                                    <tr>
                                        <td>email</td>
                                        <td th:text="${user.email}"></td>
                                    </tr>
                                    <tr th:unless="${user.role.toString() eq 'READER'}">
                                        <td>bio</td>
                                        <td th:text="${user.bio}"></td>
                                    </tr>
                                    <tr>
                                        <td>created</td>
                                        <td th:text="${#temporals.format(user.created, 'yyyy/MM/dd, HH:mm:ss')}"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-3 col-lg-2">last modified</td>
                                        <td th:text="${#temporals.format(user.modified, 'yyyy/MM/dd, HH:mm:ss')}"></td>
                                    </tr>
                                    <tr>
                                        <td>status</td>
                                        <td>
                                            <span th:text="${user.enabled} ? 'Active' : 'Inactive'"></span>
                                        </td>
                                    </tr>
                                    <tr th:unless="${user.role.toString() eq 'READER'}">
                                        <td>articles</td>
                                        <td th:text="${user.articleCount}"></td>
                                    </tr>
                                    <tr th:if="${user.role.toString() eq 'READER'}">
                                        <td>subscriptions</td>
                                        <td th:text="${user.subscriptionCount}"></td>
                                    </tr>
                                    <tr th:unless="${user.role.toString() eq 'READER'}">
                                        <td>subscribers</td>
                                        <td th:text="${user.subscriberCount}"></td>
                                    </tr>
                                    <tr>
                                        <td>comments</td>
                                        <td th:text="${user.commentCount}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="flex-container">
                                    <a th:href="@{/user/profile/update}"
                                       class="btn btn-sm btn-info mr-2"
                                       th:classappend="${#authorization.expression('!hasAuthority(''USER_UPDATE'')')} ? ' disabled' : ''">
                                        Update
                                    </a>
                                    <a th:href="@{/user/profile/password/update}"
                                       class="btn btn-sm btn-info mr-2"
                                       th:classappend="${#authorization.expression('!hasAuthority(''USER_UPDATE'')')} ? ' disabled' : ''">
                                        Change password
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="~{user/template :: footer}"></th:block>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:insert="~{user/fragments :: common-scripts}"></div>


<script>
    $(document).on('click', '.deleteButton', function () {
        let notificationId = $(this).data('notification-id');

        $.ajax({
            url: "/api/v1/notifications/" + notificationId,
            type: 'DELETE',
            success: function (response) {
                console.log('Notification deleted successfully');
                $(`.notification[data-notification-id="${notificationId}"]`).remove();
                $('#timeline').load(location.href + ' #timeline');
            },
            error: function (xhr, status, error) {
                console.error('Error during deleting notification:', error);
            }
        });
    });
</script>

</body>
</html>
