
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/template :: head(title = 'Blog')}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Main Sidebar Container -->
    <th:block th:replace="~{user/template :: sidebar(${profile})}"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Articles</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div th:if="${summaryArticlesPage.empty}" class="card">
                                    <div class="card-body text-info">
                                        You have no written articles.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${summaryArticlesPage.empty}" class="card">
                            <div class="card-header">
                                <div class="card-tools">
                                    <form role="search"
                                          th:action="@{'/admin/articles'}">
                                        <div class="input-group input-group-sm" style="width: 250px;">
                                            <input th:value="${search}" type="text" name="s" class="form-control float-right" placeholder="Search">

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Author</th>
                                        <th>Created</th>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Likes</th>

                                        <th>Views</th>
                                        <th>Number of comments</th>
                                        <th>Action</th>
                                    <tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="article, it : ${summaryArticlesPage.content}">
                                        <td th:text="${currentPageNumber * size + it.index + 1}"></td>
                                        <td th:text="${article.authorName}"></td>
                                        <td th:text="${#temporals.format(article.created, 'yyyy/MM/dd, HH:mm')}">183</td>
                                        <td th:text="${article.title}">183</td>
                                        <td th:text="${article.categoryName}">183</td>
                                        <td th:text="${article.likes}">183</td>
                                        <td th:text="${article.views}">183</td>
                                        <td th:text="${article.totalComments}">183</td>
                                        <td>
                                            <a th:href="@{'/articles/'+${article.titleUrl}}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-folder"></i> View
                                            </a>
                                            <a th:href="@{'/author/articles/'+${article.id} + '/edit'}"
                                               class="btn btn-info btn-sm"
                                               th:classappend="${#authorization.expression('!(hasRole(''ROLE_ADMIN'') and hasAuthority(''ARTICLE_UPDATE''))')} ? ' disabled' : ''">
                                                <i class="fas fa-pencil-alt mr-1"></i> Edit
                                            </a>
                                            <a th:href="@{'/admin/articles/'+${article.id}+'/delete'}"
                                               class="btn btn-danger btn-sm"
                                               th:classappend="${#authorization.expression('!(hasRole(''ROLE_ADMIN'') and hasAuthority(''ARTICLE_DELETE''))')} ? ' disabled' : ''"
                                               onclick="return confirm('Are you sure?');">
                                                <i class="fas fa-trash mr-1"> </i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div th:replace="~{blog/template :: pagination-author-articles(href='/admin/articles',
                        currentPage=${currentPageNumber},
                        totalPages=${totalPagesNumber},
                        search=${search},
                        field=${field},
                        direction=${direction},
                        size=${size})}">
                                </div>
                            </div>


                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="~{user/template :: footer}"></th:block>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<div th:insert="~{user/fragments :: common-scripts}"></div>
</body>
</html>

