<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/template :: head(title = 'Blog')}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Main Sidebar Container -->
    <th:block th:replace="~{user/template :: sidebar(${profile})}"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Liked articles</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div th:if="${likedArticlesPage.empty && (search == null || search.isEmpty())}" id="no-article-liked"
                                     class="card">
                                    <div class="card-body text-info">
                                        You have no liked articles.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${likedArticlesPage.empty}" class="card" id="article-liked">
                            <div class="card-header">
                                <th:block th:unless="${search == null || search.isEmpty()}">
                                    Result found for : '<span th:text="${search}"></span><span class="mr-2">'</span>
                                    <a th:href="@{/templates/user/liked-articles}" class="btn btn-primary btn-sm">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </th:block>
                                <div class="card-tools">
                                    <form role="search"
                                          th:action="@{/templates/user/liked-articles}">
                                        <div class="input-group input-group-sm" style="width: 250px;">
                                            <input th:value="${search}" type="text" name="s"
                                                   class="form-control float-right" placeholder="Search" required>

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            <a th:if="${search != ''}"
                                               th:href="@{/templates/user/liked-articles(field='created', direction=${direction == 'asc' ? 'desc' : 'asc'}, s=${search})}">
                                                Created
                                                <span th:if="${field eq 'created' && direction == 'asc'}">&#9650;</span>
                                                <span th:if="${field eq 'created' && direction == 'desc'}">&#9660;</span>
                                            </a>
                                            <a th:if="${search == ''}"
                                               th:href="@{/templates/user/liked-articles(field='created', direction=${direction == 'asc' ? 'desc' : 'asc'})}">Created
                                                <span th:if="${field eq 'created' && direction == 'asc'}">&#9650;</span>
                                                <span th:if="${field eq 'created' && direction == 'desc'}">&#9660;</span>
                                            </a>
                                        </th>
                                        <th>
                                            <a th:if="${search != ''}"
                                               th:href="@{/templates/user/liked-articles(field='article.author.lastName', direction=${direction == 'asc' ? 'desc' : 'asc'}, s=${search})}">
                                                Author
                                                <span th:if="${field eq 'article.author.lastName' && direction == 'asc'}">&#9650;</span>
                                                <span th:if="${field eq 'article.author.lastName' && direction == 'desc'}">&#9660;</span>
                                            </a>
                                            <a th:if="${search == ''}"
                                               th:href="@{/templates/user/liked-articles(field='article.author.lastName', direction=${direction == 'asc' ? 'desc' : 'asc'})}">Author
                                                <span th:if="${field eq 'article.author.lastName' && direction == 'asc'}">&#9650;</span>
                                                <span th:if="${field eq 'article.author.lastName' && direction == 'desc'}">&#9660;</span></a>
                                        </th>
                                        <th>
                                            <a th:if="${search != ''}"
                                               th:href="@{/templates/user/liked-articles(field='article.title', direction=${direction == 'asc' ? 'desc' : 'asc'}, s=${search})}">
                                                Title
                                                <span th:if="${field eq 'article.title' && direction == 'asc'}">&#9650;</span>
                                                <span th:if="${field eq 'article.title' && direction == 'desc'}">&#9660;</span>
                                            </a>
                                            <a th:if="${search == ''}"
                                               th:href="@{/templates/user/liked-articles(field='article.title', direction=${direction == 'asc' ? 'desc' : 'asc'})}">Title
                                                <span th:if="${field eq 'article.title' && direction == 'asc'}">&#9650;</span>
                                                <span th:if="${field eq 'article.title' && direction == 'desc'}">&#9660;</span></a>
                                        </th>

                                        <th> Action
                                        </th>
                                    <tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="likeArticle, it : ${likedArticlesPage.content}">
                                        <td th:text="${it.index}+1"></td>
                                        <td th:text="${#temporals.format(likeArticle.created, 'yyyy/MM/dd, HH:mm')}"></td>
                                        <td>
                                            <a th:href="@{/authors/{authorId}/articles (authorId=${likeArticle.article.author.id})}"
                                               th:text="${likeArticle.article.author.fullName}" class="link-muted"></a>
                                        </td>
                                        <td>
                                            <a th:href="@{/articles/{articleUrl}(articleUrl=${likeArticle.article.titleUrl})}"
                                               th:text="${likeArticle.article.title}" class="link-muted"></a></td>
                                        <td>
                                            <a href="javascript:void(0);"
                                               class="btn btn-danger btn-sm unlike-button"
                                               th:attr="data-article-id=${likeArticle.article.id}"
                                               onclick="return confirm('Are you sure you want to unlike?');">
                                                <i class="fa fa-thumbs-up fa-rotate-180 mr-1"></i> Unlike
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="row">
                                    <span class="mr-4"
                                          th:text="'Showing ' + (${likedArticlesPage.number} * ${likedArticlesPage.size} + 1) + ' to ' + (${likedArticlesPage.number} * ${likedArticlesPage.size} + ${likedArticlesPage.size} &gt; ${likedArticlesPage.totalElements} ? ${likedArticlesPage.totalElements} : ${likedArticlesPage.number} * ${likedArticlesPage.size} + ${likedArticlesPage.size}) + ' of ' + ${likedArticlesPage.totalElements} + ' entries'"></span>
                                    <div th:replace="~{blog/template :: pagination-author-articles(href='/user/liked-articles',
                                                                                                    currentPage=${currentPageNumber},
                                                                                                    totalPages=${totalPagesNumber},
                                                                                                    search=${search == '' ? null : search},
                                                                                                    field=${field},
                                                                                                    direction=${direction},
                                                                                                    size=${size})}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="~{user/template :: footer}"></th:block>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- REQUIRED SCRIPTS -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $(".unlike-button").click(function (event) {
            event.preventDefault();

            let articleId = $(this).attr("data-article-id");
            let button = $(this);

            $.ajax({
                type: "DELETE",
                url: "/api/v1/articles/" + articleId + "/unlike",
                success: function () {
                    console.log("Article unliked successfully!");


                    button.closest('tr').remove();

                    if ($(".table tbody tr").length === 0) {
                        $("#article-liked").hide();
                        $("#no-article-liked").show();
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error while unliking article:", error);
                }
            });
        });

       if ($(".table tbody tr").length > 0) {
            $("#no-article-liked").hide();
        }
    });
    /*]]>*/
</script>
<div th:insert="~{user/fragments :: common-scripts}"></div>
</body>
</html>
