a {
    text-decoration: none;
    color: black;
}

.pagination li.active > a {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}

.pagination li > a {
    background-color: white;
    color: #6c757d;
}

/*@media (min-width: 992px) {*/
/*    .rounded-start.w-100 {*/
/*        max-height: none;*/
/*    }*/
/*}*/
@media (min-width: 768px) {
    .rounded-start {
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 767px) {
    .rounded-start {
        max-height: none;
        width: 100%;
    }
}

.custom-btn {
    width: 100%;
    /*width: 80vw;*/
}

.tags {
    /*padding: 0;*/
    /*margin: 0;*/
    font-weight: 400; }
.tags li {
    padding: 0;
    margin: 0 4px 4px 0;
    float: left;
    display: inline-block; }
.tags li a {
    float: left;
    display: block;
    border-radius: 4px;
    padding: 2px 6px;
    color: gray;
    background: #f2f2f2; }
.tags li a:hover {
    color: #fff;
    background: #6c757d; }