a {
    text-decoration: none;
    color: black;
}

.pagination li.active > a {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}

.pagination li > a {
    background-color: white;
    color: #6c757d;
}