a {
    text-decoration: none;
}

/*.pagination .page-item.active .page-link {*/
/*    background-color: #212529 !important;*/
/*    color: white;*/
/*}*/

.pagination li.active > a {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}

.pagination li > a {
    background-color: white;
    color: #6c757d;
}